body {
	background-color: #92d0ff;
}

.logo img {
	width: 200px;
}

.container {
	margin: 0 auto;
	padding: 20px;
}

.sections h2 {
	font-size: 14px;
}

.section-school {
	/*background: url('/images/school.png');*/
 }

.account-form {
	padding: 20px 0px;
}

.account-cta {
	padding-top: 20px;
}