<!DOCTYPE html>
<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<h2>Citizenship</h2>
		<div class="dropdown">
  			<a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    	Select Yes or No
    	<span class="caret"></span>
  			</a>

  		<ul class="dropdown-menu" aria-labelledby="dLabel">
    		<li>Yes<li>
    		<li>No<li>
  		</ul>
		</div>

		<h2>Gender</h2>
		<div class="dropdown">
  			<a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    	
    		Select
    		<span class="caret"></span>
 			</a>

		  	<ul class="dropdown-menu" aria-labelledby="dLabel">
		   	 <li>Male</li>
		   	 <li>Female</li>
		  	</ul>
		</div>

		<h2>GPA</h2>
		<div class="dropdown">
  			<a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
   			Select
    		<span class="caret"></span>
 			</a>

		  	<ul class="dropdown-menu" aria-labelledby="dLabel">
		   	 <li>2.5-3.0</li>
		   	 <li>3.0-3.5</li>
		   	 <li>3.5-4.0</li>
		  	</ul>
		</div>

		<h2>Ethnicity</h2>
		<div class="dropdown">
  			<a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
   			Select
    		<span class="caret"></span>
 			</a>

		  	<ul class="dropdown-menu" aria-labelledby="dLabel">
		   	 <li>Asian</li>
		   	 <li>Caucasian</li>
		   	 <li>Hispanic</li>
		   	 <li>Afraican American</li>
		  	</ul>
		</div>

		<h2>Disabilities</h2>
		<div class="dropdown">
  			<a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
   			Select
    		<span class="caret"></span>
 			</a>

		  	<ul class="dropdown-menu" aria-labelledby="dLabel">
		   	 <li>Blindness</li>
		   	 <li>Brain Injuries</li>
		   	 <li>Deah</li>
		  	</ul>
		</div>



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap.min.js"></script>

	</body>
</html>