<!DOCTYPE html>
<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container container-fluid">
			<div class="logo"><img class="img-responsive center-block" src="https://raw.githubusercontent.com/KISS/technica15/master/images/logo_blue.png"></div>
			<h1>About Me</h1>
			
			<form>
				<h3>Are you a U.S Citizen</h3>
				<div>
				<label class="c-input c-radio">
						<input id="radio1" name="radio" type="radio">
					 	<span class="c-indicator"></span>
					  	Yes
					</label>
					<label class="c-input c-radio">
						<input id="radio2" name="radio" type="radio">
						<span class="c-indicator"></span>
						No
					</label>
				</div>

				<h3>Are you or your family in farming?</h3>
				<div>
					<label class="c-input c-radio">
						<input id="radio1" name="radio" type="radio">
					 	<span class="c-indicator"></span>
					  	Yes
					</label>
					<label class="c-input c-radio">
						<input id="radio2" name="radio" type="radio">
						<span class="c-indicator"></span>
						No
					</label>
				</div>

				<h3>Gender</h3>
				<div class="dropdown">
		  			<label class="c-input c-radio">
						<input id="radio1" name="radio" type="radio">
					 	<span class="c-indicator"></span>
					  	Female
					</label>
					<label class="c-input c-radio">
						<input id="radio2" name="radio" type="radio">
						<span class="c-indicator"></span>
						Male
					</label>
				</div>

				<h3>GPA</h3>
				<div class="dropdown">
		  			<a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		   			Select
		    		<span class="caret"></span>
		 			</a>

				  	<ul class="dropdown-menu" aria-labelledby="dLabel">
				   		<li>2.5-3.0</li>
				   		<li>3.0-3.5</li>
				   		<li>3.5-4.0</li>
				  	</ul>
				</div>

				<h3>Ethnicity</h3>
				<div class="dropdown">
		  			<a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		   			Select
		    		<span class="caret"></span>
		 			</a>

				  	<ul class="dropdown-menu" aria-labelledby="dLabel">
				   		<li>Asian</li>
				   		<li>Caucasian</li>
				   		<li>Hispanic</li>
				   		<li>African American</li>
				  	</ul>
				</div>

				<h3>Disabilities</h3>
				<div class="dropdown">
		  			<a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		   			Select
		    		<span class="caret"></span>
		 			</a>

				  	<ul class="dropdown-menu" aria-labelledby="dLabel">
				   		<li>Blindness</li>
				   		<li>Mental illness</li>
				   		<li>Hearing impairments</li>
				   		<li>None</li>
				  	</ul>
				</div>
			</form>
			<div class="account-cta">
				<a href="#" class="btn btn-success">Save</a>
				<a href="/profile" class="btn btn-primary">Back</a>
			</div>
		</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap.min.js"></script>

	</body>
</html>