<!DOCTYPE html>
<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container container-fluid">
			<div class="logo"><img class="img-responsive center-block" src="https://raw.githubusercontent.com/KISS/technica15/master/images/logo_blue.png"></div>
			<div class="profile-image"><img class="img-responsive center-block" src="https://raw.githubusercontent.com/KISS/technica15/master/images/Screen%20Shot%202013-09-24%20at%209.34.07%20AM.png"></div>
			<h1>Crowdfund my education!</h1>
			<!-- <span class="glyphicon glyphicon-menu-left" aria-hidden="true"><a href="/profile"></a></span> -->
			<form class="account-form">
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon3">https://unifund.com/fundmeyo/</span>
				  <!-- <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"> -->
				</div>
			</form>
			<div>
				<p>Thanks for helping me fund my education. Use the URL below to use CapitalOne to send me some money :) </p>
			</div>
			<div class="account-cta">
				<a href="#" class="btn btn-success">Save</a>
				<a href="/profile" class="btn btn-primary">Back</a>
			</div>
		</div>
	</body>
</html>