<!DOCTYPE html>

<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="static/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container container-fluid">
			<div><img src="../images/logo_blue.png"></div>
			<div class="sections row"> 
				<div class="col-xs-6 section-school">
					<a href="/schools">
						<h2>SCHOOLS</h2>
					</a>
				</div>
				<div class="col-xs-6 section-scholarship">
					<a href="/scholarships">
						<h2>SCHOLARSHIPS</h2>
					</a>
				</div>
			</div>
			<div class="sections row">
				<div class="col-xs-6 section-loan">
					<a href="/loans">
						<h2>LOANS</h2>
					</a>
				</div>
				<div class="col-xs-6 section-profile">
					<a href="/login">
						<h2>PROFILE</h2>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>