<!DOCTYPE html>

<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="container">
			<h1>Unifund</h1>
			<div>
				<h2>School Search</h2>
				<a href="/schools">get started</a>
			</div>
			<div>
				<h2>Scholarships</h2>
				<a href="/scholarships">see your best options</a>
			</div>
			<div>
				<h2>Loans</h2>
				<a href="/loans">carefully selected</a>
			</div>
			<div>
				<h2>Profile</h2>
				<a href="/login">Log into your account or create a new one (it's easy!)</a>
			</div>
		</div>
	</body>
</html>