<!DOCTYPE html>

<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="static/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container container-fluid">
			<div class="logo"><img class="img-responsive center-block" src="https://raw.githubusercontent.com/KISS/technica15/master/images/logo_blue.png"></div>
			<div class="sections row"> 
				<div class="col-xs-6 section-school">
					<a class="btn btn-default" href="/schools"><img class="loan-image" src="https://github.com/KISS/technica15/blob/master/images/school.png?raw=true"/><h2>SCHOOLS</h2>
					</a>
				</div>

				<div class="col-xs-6 section-scholarship">
					<a class="btn btn-default" href="col-xs-6 section-scholarship"><img class="loan-image" src="https://github.com/KISS/technica15/blob/master/images/scholarships.png?raw=true"/><h2>SCHOLARSHIP</h2>
					</a>
				</div>
			</div>


			<div class="sections row">
				<div class="col-xs-6 section-loan">

					<a class="btn btn-default" href="/loans"><img class="loan-image" src="https://github.com/KISS/technica15/blob/master/images/loans.png?raw=true"/><h2>Loan</h2>
					</a>
					
				</div>
				<div class="col-xs-6 section-profile">

					<a class="btn btn-default" href="/login"><img class="loan-image" src="https://github.com/KISS/technica15/blob/master/images/profile.png?raw=true"/><h2>Profile</h2>
					</a>

					
				</div>
			</div>
		</div>
	</body>
</html>