<!DOCTYPE html>
<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="container">
			<h1>Loans</h1>
			<div>
				<ul>
					<li><a href="#">Loan 1</a></li>
					<li><a href="#">Loan 2</a></li>
					<li><a href="#">Loan 3</a></li>
					<li><a href="#">Loan 4</a></li>
					<li><a href="#">Loan 5</a></li>
					<li><a href="#">Loan 6</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>