<!DOCTYPE html>
<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="static/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container container-fluid">
			<div class="logo"><img class="img-responsive center-block" src="https://raw.githubusercontent.com/KISS/technica15/master/images/logo_blue.png"></div>
			<h1>Best Loan Options</h1>
			<div>
				<div class="row">
					<div class="col-xs-6">
						<a class="btn btn-default" href="http://www.schwab.com/public/schwab/investing/retirement_and_planning/saving_for_college/paying_for_college" role="button"><img src="http://www.schwab.com/public/file/P-6040152/logo.png"></a>
						<!-- <a href="http://www.schwab.com/public/schwab/investing/retirement_and_planning/saving_for_college/paying_for_college">Charles Schwab</a> -->
					</div>
					<div class="col-xs-6"><a href="https://www.ally.com/college/college-savings-reduce-college-costs-with-smart-planning/">Ally Bank </a></div>
				</div>

					<li><a href="https://www.dcfcu.org/generation-y/dream-account/">Dream Account</a></li>
					<li><a href="http://www.asa.org/about-us/">American Student Assistance </a></li>
					<li><a href="http://www.pnconcampus.com/studentloanguide/privateloans/graduates/index.html?WT.mc_id=EL15_G_Search_GWA_S_G_NB_EL_Education+Lending_E&WT.srch=1&k=student+loans+for+graduate+school&e=google&m=p&kid=247873">PNC (Education Loan Center) </a></li>
					<li><a href="http://www.wellsfargo.com/student/">Wells Fargo</a></li>
				</ul>
			</div>
			<div class="account-cta">
				<a href="/" class="btn btn-primary">Back</a>
			</div>
		</div>
	</body>
</html>