<!DOCTYPE html>
<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="static/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container container-fluid">
			<div class="logo"><img class="img-responsive center-block" src="https://raw.githubusercontent.com/KISS/technica15/master/images/logo_blue.png"></div>
			<h1>Sign in</h1>
			<form>
				<fieldset class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</fieldset>
				<fieldset class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</fieldset>
				<div class="account-cta">
					<a href="/profile" class="btn btn-success">Sign in</a>
					<a href="/" class="btn btn-primary">Back</a>
				</div>
			</form>

			<span><a href ="#">Don't have an account? Create an account (easy!)</a></span>
			<!-- <form>
				<fieldset class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				    <small class="text-muted">We'll never share your email with anyone else.</small>
			  	</fieldset>
			    <fieldset class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  	    </fieldset>
		  	    <fieldset class="form-group">
				    <label for="exampleSelect1">Are you the Guardian of a student or the Student?</label>
				    <select class="form-control" id="exampleSelect1">
				      <option>Guardian</option>
				      <option>Student</option>
				    </select>
				</fieldset>
				<a href="/profile" class="btn btn-primary">Create Account</a>
			</form> -->
		</div>
	</body>
</html>