<!DOCTYPE html>
<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="static/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container container-fluid">
			<div class="logo"><img class="img-responsive center-block" src="https://raw.githubusercontent.com/KISS/technica15/master/images/logo_blue.png"></div>
			<h1>Welcome to your Unifund Profile!</h1>
			<div><a href="/profile/account-settings">Account Settings</a></div>
			<div><a href="/profile/about">About Me</a></div>
			<div><a href="#">Fafsa</a></div>
			<div><a href="/profile/friendfund">Friendfund</a></div>
			<div><a href="/scholarships">Your catered list of Scholarships</a></div>
		</div>
	</body>
</html>