<!DOCTYPE html>
<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="container">
			<h1>Welcome to your Unifund Profile!</h1>
			<div><a href="/">Account Settings</a></div>
			<div><a href="/">Background</a></div>
			<div><a href="/">Fafsa</a></div>
			<div><a href="/">Friendfund</a></div>
			<div><a href="/scholarships">Your catered list of Scholarships</a></div>
		</div>
	</body>
</html>