<!DOCTYPE html>
<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="static/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container container-fluid">
			<div class="logo"><img class="img-responsive center-block" src="https://raw.githubusercontent.com/KISS/technica15/master/images/logo_blue.png"></div>
			<h1>School Search</h1>
			<div>
				Search by Zipcode
				<a href="/school-results">Results page</a>
			</div>
			<div>
				Search by name
			</div>
			<div class="account-cta">
				<a href="/" class="btn btn-primary">Back</a>
			</div>
		</div>
	</body>
</html>