<!DOCTYPE html>
<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="static/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container container-fluid">
			<div class="logo"><img class="img-responsive center-block" src="https://raw.githubusercontent.com/KISS/technica15/master/images/logo_blue.png"></div>
			<h1>Scholarships</h1>
			<div class="checkbox">
				<div>Filter options</div>
			    <label>
			      <input type="checkbox"> Income bracket
			    </label>
			    <label>
			      <input type="checkbox"> Minority - Woman
			    </label>
			    <label>
			      <input type="checkbox"> Allstar Grades
			    </label>
			    <label>
			      <input type="checkbox"> STEM
			    </label>
			</div>
			
			<div class="table-responsive">
  				<table class="table table-hover">
  					<tr>
						<th>Scholarships</th>
						<th>Amount</th>
					</tr>
					<tr>
						<td><a href="#">Technica Scholar</a></td>
						<td>full</td>
					</tr>
					<tr>
						<td><a href="#">Women Who Code</a></td>
						<td>full</td>
					</tr>
					<tr>
						<td><a href="#">Grace Hopper</a></td>
						<td>full</td>
					</tr>
					<tr>
						<td><a href="#">I Am Broke</a></td>
						<td>half</td>
					</tr>
				</table>
			</div>

			<div class="account-cta">
				<a href="/" class="btn btn-primary">Back</a>
			</div>
		</div>
	</body>
</html>