<!DOCTYPE html>
<html> 
	<head>
		<title>Unifund</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="container">
			<h1>Scholarships</h1>
			<div class="checkbox">
				<div>Filter options</div>
			    <label>
			      <input type="checkbox"> Income bracket
			    </label>
			    <label>
			      <input type="checkbox"> Minority
			    </label>
			    <label>
			      <input type="checkbox"> Allstar Grades
			    </label>
			    <label>
			      <input type="checkbox"> STEM
			    </label>
			 </div>
			<div>
				<ul>
					<li><a href="#">Scholarship 1</a></li>
					<li><a href="#">Scholarship 2</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>